#root {
  width: 90%; 
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

body{
  background-color: rgb(40, 40, 40);
  color: white;
}

ul li{
  list-style-type: none;
  padding-left: none;
}

.post-card p,
.post-card h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em;
}