#root {
  width: 90%; 
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

body{
  background-color: rgb(40, 40, 40);
  color: white;
}

ul li{
  list-style-type: none;
  padding-left: none;
}

